.card {
  height: 400px;
  width: 300px;
  overflow: hidden;
  transition: transform 0.5s, filter 0.5s ease-in-out;
  filter: grayscale(100%);
  cursor: pointer;
  position: relative;

  &:hover {
    filter: grayscale(0);
  }

  &__details {
    position: absolute;
    bottom: 0;
    background-color: black;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 35px;
    text-align: center;
  }
}
